

<html>

<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<style>

nav {

background-color: darkcyan;

color: floralwhite;

}

</style>

<nav class="navbar navbar-expand-sm " style="height: 40px;">

<h4>Contact Us</h4>

</nav>

<div class="bg-img">

<br><br><br>

<div class="container">

<h2>Contact Us</h2>

<form action="/thank you">

<div class="form-group">

<div class="row">

<div class="col-sm-4">

<label for="name">Name:</label>

<input type="text" class="form-control" id="name" name="name" required>

</div>

</div>

</div>



<div class="form-group">

<div class="row">

<div class="col-sm-4">

<label for="email">Email:</label>

<input type="text" class="form-control" id="email" name="email" required>

</div>

</div>

</div>



<div class="form-group">

<div class="row">

<div class="col-sm-4">

<label for="subject">Subject:</label>

<input type="subject" class="form-control" id="subject" name="subject" required>

</div>

</div>

</div>



<div class="form-group">

<div class="row">

<div class="col-sm-4">

<label for="comment">Comment:</label>

<textarea class="form-control" rows="5" id="comment" name="text"

required></textarea>

</div>

</div>

</div>


<!--<button type="submit" class="btn btn-primary">Submit </button>-->

  <!--<a routerLink="/thankyou">Submit</a>-->

<button class="btn btn-primary">Submit</button>

</form>

</div>

</div>

</body>

</html>

