body{



    background-image: url("https://media.istockphoto.com/photos/wood-block-symbol-telephone-mail-address-and-mobile-phone-website-picture-id870307396?k=6&m=870307396&s=612x612&w=0&h=unyiwXRe3-rCo2NCsS4pq4vm85uI-q9TP1wlx2d58vc=");
    
    background-size: cover;
    
    height: 675px;
    
    width:auto;
    
    background-position: center;
    
    background-repeat: no-repeat;
    
    
    
    }